src/wsdl/localhost_8080/RuleeBasedWS/RuleBase.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ruleBaseWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ruleBaseWS/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="getRelevantBanks" type="tns:getRelevantBanks"/>

<xs:element name="getRelevantBanksResponse" type="tns:getRelevantBanksResponse"/>

<xs:complexType name="getRelevantBanks">
<xs:sequence>
<xs:element name="creditScore" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRelevantBanksResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>